<!DOCTYPE html>
<html>
    <head>
        <title>Theatrix - <%= @page %></title>
        <link rel='icon' href='/img/icon.png'>
        <link rel='stylesheet' href='/css/master.css' type='text/css'>
        <link rel='stylesheet' href='/css/<%= @css %>.css' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Poppins&display=swap' rel='stylesheet'>
    </head>
    <body>
        <h1>Theatrix</h1>
        <%= yield %>
    </body>
</html>
