<main>
    <h2>Add a New Theatre</h2>
    <hr>
    <form action='/theatres' method='post'>
        <label>
            Theatre Name
            <input name='name' type='text'>
        </label>
        <label>
            Theatre Image URL
            <input name='img' type='text'>
        </label>
        <label>
            Theatre Location
            <input name='location' type='text'>
        </label>
        <button type='submit'>Add Theatre</button>
    </form>
</main>
