<div id='header'>
    <h1>Theatrix<h1>
    <h2>Find some movies or theatres!</h2>
</div>

<div id='buttons'>
    <a href='/movies'>Search Movies</a>
    <a href='/theatres'>Search Theatres</a>
</div>
