<h1>Theatrix</h1>
<main>
    <h2>Add a New Movie</h2>
    <hr>
    <form action='/movies' method='post'>
        <label>
            Movie Name
            <input name='name' type='text'>
        </label>
        <label>
            Runtime
            <input name='runtime' type='text'>
        </label>
        <label>
            Poster
            <input name='poster' type='text'>
        </label>
        <label>
            Rating
            <input name='rating' type='text'>
        </label>
        <button type='submit'>Add Movie</button>
    </form>
</main>
