<h1>Theatrix</h1>
<main>
    <% unless @theatre.nil? %>
    <img src='<%= @theatre.img %>'>
    <h2><%= @theatre.name %></h2>
    <p><%= @theatre.location %></p>
    <% else %>
    <h2 class='error'>Oh no!</h2>
    <p class='error'>We couldn't find that theatre :(</p>
    <% end %>
    <a href='/theatres'>Return to Theatre List</a>

    <a href="/theatres/<%= @theatre.id %>/edit">Edit Theatre</a>
</main>
