main {
    background-color: white;
    width: 80%;
    padding: 2rem 2rem 1rem 2rem;
    margin: auto;
}
h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
}
h2 {
    line-height: 2rem;
    color: black;
    font-size: 2rem;
    width: 95%;
    margin: auto;
}
hr {
    border: 1px solid black;
    width: 95%;
}

.none {
    text-align: center;
}
.new {
    font-size: 1.05rem;
    text-align: center;
    color: #5e5e5e;
    font-style: italic;
}
.new a {
    text-decoration: none;
}
.new a:hover {
    color: #9c1e1e;
}
